* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
}
.container {
  width: 900px;
  margin: 0 auto;
  max-width: 100%;
}

/*HEADER START*/
header {
  width: 100%;
  display: block;
  background: url(../img/bg-header.png);
  background-size: cover;
}
.header__navbar {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.header__logo-img {
  width: 245px;
  height: 55px;
}
.header__list {
  display: flex;
  list-style: none;
  padding-top: 16px;
}
.header__item {
  padding: 0 0 0 10px;
}
.header__item-link {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}
.header__item-link:hover {
  border-bottom: solid #fff 2px;
}
.header__first-cont {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 260px;
}
.header__compass-ico {
  width: 75px;
  height: 75px;
}
.header__business-name {
  color: #e8f00c;
  font-size: 60px;
}
.header__slogan {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.header__button {
  padding: 80px 0 0 0;
}
.header__start-button {
  margin: 50px 0 0 0;
  background-color: #e8f00c;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.header__start-button:hover {
  background: #fff;
  color: #000;
}

/*START PLANS*/
.plans {
  padding: 80px 0;
}
.plans__first-cont {
  text-align: center;
  margin-bottom: 50px;
}
.plans__title {
  font-size: 40px;
  margin-bottom: 25px;
}
.plans__paragraph {
  font-size: 20px;
}
.plans__second-cont {
  text-align: center;
}
.plans__information-plans {
  display: flex;
  justify-content: space-between;
}
.plans__cont-a {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.plans__cont-a:nth-child(1) {
  background: url(../img/senderismo.png);
}
.plans__cont-a:nth-child(2) {
  background: url(../img/canotaje.png);
}
.plans__cont-a:nth-child(3) {
  background: url(../img/campign.png);
}
.plans__cont-b {
  color: #e8f00c;
  font-size: 25px;
}
.plans__description {
  display: flex;
  font-size: 20px;
  padding: 10px 0;
  justify-content: center;
}
.plans__description-paragraph:nth-child(2) {
  margin: 0 150px;
}

/* START DESTINY */
.destiny {
  background: url(../img/bg-destinos.png);
  background-size: cover;
  text-align: center;
  padding: 80px 0;
}
.destiny__title {
  color: #e8f00c;
  font-size: 40px;
  margin-bottom: 25px;
}
.destiny__cont-a {
  display: flex;
  justify-content: space-around;
}
.destiny__cont-b {
  display: flex;
  justify-content: space-around;
}
.destiny__image {
  width: 250px;
  height: 250px;
}
.destiny__title-two {
  font-size: 25px;
  color: #fff;
  margin-bottom: 50px;
}

/* START CONTACT */
.contact {
  background-color: #e8f00c;
  text-align:  center;
  padding: 80px 0;
}
.contact__title {
  font-size: 40px;
  margin-bottom: 25px;
}
.contact__paragraph {
  font-size: 20px;
  margin-bottom: 25px;
}
.contact__section-form {
  font-size: 20px;
  padding: 5px;
  height: 45px;
  width: 300px;
  margin: 10px;
  border: none;
  border-radius: 2px;
  color: rgb(120, 120, 120);
}
.contact__section-form::placeholder {
  color: rgb(120, 120, 120);
}
.contact__button {
  padding: 30px 0 30px 0;
}
.contact__button-send {
  color: #fff;
  text-decoration: none;
  background: #7f830c;
  font-size: 20px;
  padding: 5px 30px;
  letter-spacing: 2px;
  border-radius: 5px;
}
.contact__button-send:hover {
  background: #fff;
  color: #000;
}

/* START FOOTER */
footer {
  text-align: center;
  background-color: #000;
  padding: 80px 0;
}
.footer__information {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
}
.footer__email:hover {
  color: #e8f00c;
}
